<!DOCTYPE html>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <title>Query Builder</title>
<style>

</style>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="./js/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
<script src="./js/ajax/libs/angular.js/1.5.3/angular.min.js"></script>
<script src="./js/ajax/libs/angular.js/1.5.3/angular-sanitize.min.js"></script>
<!-- angular animate -->
<script src="./js/ajax/libs/angular.js/1.5.0-beta.1/angular-animate.min.js"></script>
 <!-- bootstrap -->
<script src="./bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="./bootstrap-3.3.6-dist/css/bootstrap.min.css">
<!-- angular-ui-bootstrap -->
<script src="./js/ajax/libs/angular-ui-bootstrap/0.14.2/ui-bootstrap-tpls.min.js"></script>
<script src="./js/appList.js"></script>
<script src="./js/ListQueryTemplatesController.js"></script>
<link rel="stylesheet" href="./css/listTable.css">
<link rel="stylesheet" href="./css/app.css">
<script>
sessionStorage.clickedTabId = 'myTpl';
</script>
<style>
body {
	padding-top:120px;
}
</style>
</head>
<body ng-app="URLBuilderApp" ng-controller="ListQueryTemplatesController" ng-init="setOwnerAsLoggedInUser()">
	<div ng-include="'NavQuery.html'"></div>
		<div class="container-fluid">
		<div class="alert alert-danger ng-cloak" ng-show="errorMsg">
		  <a href="#" class="close" ng-click="errorMsg = null" aria-label="close">&times;</a>
		 <span ng-bind-html="errorMsg"></span>
		</div>
		<div class="form-group">
            	<label >Search</label>
            	<input type="text" ng-model="search" class="form-control" placeholder="Search">
        </div>
        
		 <table class="table table-bordered table-hover table-striped table-fixedheader">
			 <thead>
			 	<tr style="font-weight: bold">
			 	  <th style="width:2%" class="bg-primary"><input type="checkbox" class="checkbox" ng-click="toggleSelectAll()" ng-model="selectAll"></th>
			      <th style="width:26%" class="bg-primary"><span ng-click="sortType = 'name'; sortReverse = !sortReverse" style="cursor:pointer">Template Name <span ng-show="sortType == 'name'" class="glyphicon" ng-class="sortReverse?'glyphicon-chevron-down':'glyphicon-chevron-up'"></span></span></th>
			      <th style="width:24%" class="bg-primary"><span ng-click="sortType = 'owner'; sortReverse = !sortReverse" style="cursor:pointer">Owner <span ng-show="sortType == 'owner'" class="glyphicon" ng-class="sortReverse?'glyphicon-chevron-down':'glyphicon-chevron-up'"></span></span></th>
			      <th style="width:24%" class="bg-primary"><span ng-click="sortType = 'createdTime'; sortReverse = !sortReverse" style="cursor:pointer">Created At <span ng-show="sortType == 'createdTime'" class="glyphicon" ng-class="sortReverse?'glyphicon-chevron-down':'glyphicon-chevron-up'"></span></span></th>
			      <th style="width:24%" class="bg-primary"><span ng-click="sortType = 'modifiedTime'; sortReverse = !sortReverse" style="cursor:pointer">Updated At <span ng-show="sortType == 'modifiedTime'" class="glyphicon" ng-class="sortReverse?'glyphicon-chevron-down':'glyphicon-chevron-up'"></span></span></th>
			    </tr>
		    <thead>
		    <tbody style="height:580px">
	        <tr ng-repeat="queryTemplateKey in queryTemplateKeysData|orderBy:sortType:sortReverse|filter:search as filteredQueryTemplateKeys" ng-class="{'info':queryTemplateKey.isSelected}">
	        <td style="width:2%"><input type="checkbox" class="checkbox" ng-model="queryTemplateKey.isSelected" ng-click="updateAnyRowSelected()"></td>
            <td style="width:26%">
	            <span>
          			<a ng-href="modQueryTemplate.jsp?name={{ queryTemplateKey.name }}&owner={{ queryTemplateKey.owner }}">{{ queryTemplateKey.name }}</a>
        		</span>
			</td>
            <td style="width:24%">
	            <span>
          			{{ queryTemplateKey.owner }}
        		</span>
			</td>
			<td style="width:24%">
	            <span>
          			{{ queryTemplateKey.createdTime | date:'yyyy-MM-dd HH:mm:ss'}}
        		</span>
			</td>
			<td style="width:24%">
	            <span>
          			{{ queryTemplateKey.modifiedTime | date:'yyyy-MM-dd HH:mm:ss'}}
        		</span>
			</td>
	        </tr>
	        </tbody>
	    </table>
	    
	    <button class="btn btn-primary" ng-click="clickExecute()" ng-disabled="!oneRowSelected">Execute</button>
	    <button class="btn btn-primary" ng-click="exportSelectedToJson()" ng-disabled="!anyRowSelected">Export</button>
	     <label class="btn btn-primary btn-file" ng-disabled="anyRowSelected">
		    Import from File <input type="file" id="fileUploadJson" accept=".json" onchange="angular.element(this).scope().onFileUpload(this)" style="display: none;">
		</label>
		<p>
		<div class="panel panel-info" ng-show="openExecute">
			 <div class="panel-heading">
				 <a href="#" class="close" ng-click="openExecute = false" aria-label="close">&times;</a>
				 <span class="help-block">Override Arguments</span>
			 </div>
			 <div class="panel-body">
				<div class="form-group">
						<div class="form-group">
		  							<table class="table table-hover table-condensed table-bordered table-striped">
		                                   <thead>
		                                   	<tr class="bg-success">
		                                       <td class="col-md-4">Data Type</td>
		                                       <td class="col-md-4">Argument Name</td>
		                                       <td class="col-md-4">Argument Value</td>
		                                  	</tr> 
		                                  </thead>
		                                  <tbody>
		                                  	<tr ng-repeat="row in params">
								    		<td class="col-md-4">{{row.dataType}}</td>
								    		<td class="col-md-4">{{row.paramName}}</td>
								    		<td class="col-md-4">
								    			<input type="text" class="form-control" ng-model="row.argValue" placeholder="Enter a value to run"/>
								    		</td>		
								    	</tr>
		                              	</tbody>
		                              </table>
		                      </div>
				</div>
				<div class="form-group">
					<button ng-click="executeTemplate()" class="btn btn-primary" ng-show="openExecute" ng-disabled="!oneRowSelected">Run</button>
					<p><p>
					<uib-progressbar class="active progress-striped" ng-show="running" value="100" type="primary">
				            <b><i>Fetching...</i></b>
				    </uib-progressbar>
					<div class="alert alert-danger ng-cloak" ng-show="executeErrorMsg">
						<a href="#" class="close" ng-click="executeErrorMsg = null" aria-label="close">&times;</a>
					 	<span ng-bind-html="executeErrorMsg"></span>
					</div>
					<div ng-bind-html="resHtml" ng-show="contentType=='html'"></div>
					<pre ng-show="contentType !='html' && openExecute">{{res}}</pre>
				</div>
			</div>
		</div>
		<div class="form-group">
			<p>
			<div class="alert alert-success ng-cloak" ng-show="importSuccessMsg">
			  <a href="#" class="close" ng-click="importSuccessMsg = null" aria-label="close">&times;</a>
			   <span ng-bind-html="importSuccessMsg"></span>
			</div>
			<div class="alert alert-danger ng-cloak" ng-show="importErrorMsg">
			  <a href="#" class="close" ng-click="importErrorMsg = null" aria-label="close">&times;</a>
			  <span ng-bind-html="importErrorMsg"></span>
			</div>
	    </div>
	    </div>
</body>