<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>queryBuilder</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <!-- query builder index -->
  	<servlet>
		<servlet-name>queryBuilderIndex</servlet-name>
		<jsp-file>/indexQuery.html</jsp-file>
	</servlet>
    <servlet-mapping>
		<servlet-name>queryBuilderIndex</servlet-name>
		<url-pattern>/query</url-pattern>
	</servlet-mapping>
	
	<!-- pub builder index -->
	<servlet>
		<servlet-name>pubBuilderIndex</servlet-name>
		<jsp-file>/indexPub.html</jsp-file>
	</servlet>
    <servlet-mapping>
		<servlet-name>pubBuilderIndex</servlet-name>
		<url-pattern>/pub</url-pattern>
	</servlet-mapping>
  
   <context-param>
		<param-name>resteasy.servlet.mapping.prefix</param-name>
		<param-value>/qb</param-value>
	</context-param>
	 
	<servlet>
		<servlet-name>rest-servlet</servlet-name>
		<!--
		<servlet-class>
			org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher
		</servlet-class>
		-->
		<servlet-class>org.apache.wink.server.internal.servlet.RestServlet</servlet-class>
		
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>com.trp.pub.cust.rest.QueryBuilderApplication</param-value>
		</init-param>
	</servlet>
     <servlet-mapping>
		<servlet-name>rest-servlet</servlet-name>
		<url-pattern>/qb/*</url-pattern>
	</servlet-mapping>
	
	<filter>
	   <filter-name>GenericFilter</filter-name>
	   <filter-class>com.trp.pub.cust.rest.GenericFilter</filter-class>
	</filter>
	<filter-mapping>
	   <filter-name>GenericFilter</filter-name>
	   <url-pattern>/qb/*</url-pattern>
	</filter-mapping>
	
    <security-constraint>
	    <web-resource-collection>
	      <web-resource-name>All</web-resource-name>
	      <url-pattern>/qb/builder/*</url-pattern>
	      <http-method>GET</http-method>
	      <http-method>POST</http-method>
	    </web-resource-collection>
	   <auth-constraint>
	      <role-name>QueryBuilderRead</role-name>
	      <role-name>QueryBuilderWrite</role-name>
	    </auth-constraint>
	    <user-data-constraint>
	      <transport-guarantee>NONE</transport-guarantee>
	    </user-data-constraint> 
    </security-constraint>
    <security-constraint>
	    <web-resource-collection>
	      <web-resource-name>Write</web-resource-name>
	      <url-pattern>/qb/modify/*</url-pattern>
	      <http-method>GET</http-method>
	      <http-method>POST</http-method>
	    </web-resource-collection>
	   <auth-constraint>
	      <role-name>QueryBuilderWrite</role-name>
	      <role-name>QueryBuilderAdmin</role-name>
	    </auth-constraint>
	    <user-data-constraint>
	      <transport-guarantee>NONE</transport-guarantee>
	    </user-data-constraint> 
    </security-constraint>
    <security-constraint>
	    <web-resource-collection>
	      <web-resource-name>Admin</web-resource-name>
	      <url-pattern>/qb/admin/*</url-pattern>
	      <http-method>GET</http-method>
	      <http-method>POST</http-method>
	    </web-resource-collection>
	   <auth-constraint>
	      <role-name>QueryBuilderAdmin</role-name>
	    </auth-constraint>
	    <user-data-constraint>
	      <transport-guarantee>NONE</transport-guarantee>
	    </user-data-constraint> 
    </security-constraint>
	<security-constraint>
	    <web-resource-collection>
	      <web-resource-name>Execute</web-resource-name>
	      <url-pattern>/qb/execute/*</url-pattern>
	      <http-method>GET</http-method>
	      <http-method>POST</http-method>
	    </web-resource-collection>
	   <auth-constraint>
	      <role-name>QueryBuilderExecute</role-name>
	    </auth-constraint>
	    <user-data-constraint>
	      <transport-guarantee>NONE</transport-guarantee>
	    </user-data-constraint> 
    </security-constraint>
	<login-config>
	    <auth-method>BASIC</auth-method>
	    <realm-name>file</realm-name>
  	</login-config>
   	<security-role>
    	<role-name>AllAuthenticated</role-name>
  	</security-role>
  	<security-role>
	    <role-name>QueryBuilderRead</role-name>
	</security-role>
  	<security-role>
    	<role-name>QueryBuilderWrite</role-name>
  	</security-role>
  	<security-role>
    	<role-name>QueryBuilderExecute</role-name>
  	</security-role>
  	<security-role>
    	<role-name>QueryBuilderAdmin</role-name>
  	</security-role>
</web-app>